<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.clock.dao.ClockMapper">
  <resultMap id="BaseResultMap" type="com.lc.clock.pojo.Clock">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="clock_time" jdbcType="DECIMAL" property="clockTime" />
    <result column="mon_time" jdbcType="DECIMAL" property="monTime" />
    <result column="tue_time" jdbcType="DECIMAL" property="tueTime" />
    <result column="wed_time" jdbcType="DECIMAL" property="wedTime" />
    <result column="thu_time" jdbcType="DECIMAL" property="thuTime" />
    <result column="fri_time" jdbcType="DECIMAL" property="friTime" />
    <result column="sat_time" jdbcType="DECIMAL" property="satTime" />
    <result column="sun_time" jdbcType="DECIMAL" property="sunTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nickname, start_time, end_time, clock_time, mon_time, tue_time, wed_time, thu_time, 
    fri_time, sat_time, sun_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_clock
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_clock
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lc.clock.pojo.Clock">
    insert into t_clock (id, nickname, start_time, 
      end_time, clock_time, mon_time, 
      tue_time, wed_time, thu_time, 
      fri_time, sat_time, sun_time
      )
    values (#{id,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{clockTime,jdbcType=DECIMAL}, #{monTime,jdbcType=DECIMAL}, 
      #{tueTime,jdbcType=DECIMAL}, #{wedTime,jdbcType=DECIMAL}, #{thuTime,jdbcType=DECIMAL}, 
      #{friTime,jdbcType=DECIMAL}, #{satTime,jdbcType=DECIMAL}, #{sunTime,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lc.clock.pojo.Clock">
    insert into t_clock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="clockTime != null">
        clock_time,
      </if>
      <if test="monTime != null">
        mon_time,
      </if>
      <if test="tueTime != null">
        tue_time,
      </if>
      <if test="wedTime != null">
        wed_time,
      </if>
      <if test="thuTime != null">
        thu_time,
      </if>
      <if test="friTime != null">
        fri_time,
      </if>
      <if test="satTime != null">
        sat_time,
      </if>
      <if test="sunTime != null">
        sun_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clockTime != null">
        #{clockTime,jdbcType=DECIMAL},
      </if>
      <if test="monTime != null">
        #{monTime,jdbcType=DECIMAL},
      </if>
      <if test="tueTime != null">
        #{tueTime,jdbcType=DECIMAL},
      </if>
      <if test="wedTime != null">
        #{wedTime,jdbcType=DECIMAL},
      </if>
      <if test="thuTime != null">
        #{thuTime,jdbcType=DECIMAL},
      </if>
      <if test="friTime != null">
        #{friTime,jdbcType=DECIMAL},
      </if>
      <if test="satTime != null">
        #{satTime,jdbcType=DECIMAL},
      </if>
      <if test="sunTime != null">
        #{sunTime,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lc.clock.pojo.Clock">
    update t_clock
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clockTime != null">
        clock_time = #{clockTime,jdbcType=DECIMAL},
      </if>
      <if test="monTime != null">
        mon_time = #{monTime,jdbcType=DECIMAL},
      </if>
      <if test="tueTime != null">
        tue_time = #{tueTime,jdbcType=DECIMAL},
      </if>
      <if test="wedTime != null">
        wed_time = #{wedTime,jdbcType=DECIMAL},
      </if>
      <if test="thuTime != null">
        thu_time = #{thuTime,jdbcType=DECIMAL},
      </if>
      <if test="friTime != null">
        fri_time = #{friTime,jdbcType=DECIMAL},
      </if>
      <if test="satTime != null">
        sat_time = #{satTime,jdbcType=DECIMAL},
      </if>
      <if test="sunTime != null">
        sun_time = #{sunTime,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lc.clock.pojo.Clock">
    update t_clock
    set nickname = #{nickname,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      clock_time = #{clockTime,jdbcType=DECIMAL},
      mon_time = #{monTime,jdbcType=DECIMAL},
      tue_time = #{tueTime,jdbcType=DECIMAL},
      wed_time = #{wedTime,jdbcType=DECIMAL},
      thu_time = #{thuTime,jdbcType=DECIMAL},
      fri_time = #{friTime,jdbcType=DECIMAL},
      sat_time = #{satTime,jdbcType=DECIMAL},
      sun_time = #{sunTime,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--以上为自动生成，以下为项目所需-->
</mapper>